<section class="footer">
  <img src="https://ascinate.in/templatemonster/weather/images/logo-white.png" alt="">
  <h3>provide your search weather</h3>
           <hr>
           
  <p>2022-2023 © Weather. All rights reserved.</p>

</section>